@charset "UTF-8";
/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
body {
  font-family: 'Kameron','Noto Sans JP', sans-serif;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.font-sm {
  font-size: 14px;
}

.font-md {
  font-size: 17px;
}

.font-lr {
  font-size: 17px;
}

.font-lg {
  font-size: 25px;
}

.mb-sm {
  margin-bottom: 16px !important;
}

.mb-lg {
  margin-bottom: 80px !important;
}

.pb-sm {
  padding-bottom: 16px !important;
}

.pb-lg {
  padding-bottom: 80px !important;
}

.content-width {
  width: 90%;
  margin: 0 auto;
  max-width: 1070px;
}

@media (min-width: 374px) {
  .own-title #container {
    position: relative;
    z-index: 2;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .own-title #container .mobile-menu__cover {
    height: 4935px;
  }
  .own-title #container .header {
    z-index: 3;
    background-color: white;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .own-title #container .header .tab {
    position: relative;
    top: 10px;
    left: 15px;
  }
  .own-title #container .header .tab img {
    width: 90px;
  }
  .own-title #container .footer-pe {
    z-index: 120;
    position: relative;
  }
  .own-title #container .footer-pe .flex {
    position: fixed;
    top: 95%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border-top: 1px solid gray;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
    height: 100px;
  }
  .own-title #container .footer-pe .flex .list {
    position: relative;
    top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .own-title #container .footer-pe .flex .list img {
    width: 30px;
    height: 30px;
  }
  .own-title #container .footer-pe .flex .list .img {
    position: relative;
    left: 10px;
  }
  .own-title #container .footer-pe .flex .list a {
    color: black;
    font-size: 14px;
  }
  .own-title .mobile-menu {
    position: fixed;
    right: 0;
    top: 60px;
    width: 300px;
  }
  .own-title .mobile-menu__btn {
    background-color: unset;
    border: none;
    outline: none !important;
    cursor: pointer;
  }
  .own-title .mobile-menu__btn > span {
    background-color: black;
    width: 35px;
    height: 2px;
    display: block;
    margin-bottom: 9px;
    -webkit-transition: -webkit-transform 0.7s;
    transition: -webkit-transform 0.7s;
    transition: transform 0.7s;
    transition: transform 0.7s, -webkit-transform 0.7s;
  }
  .own-title .mobile-menu__btn > span:last-child {
    margin-bottom: 0;
  }
  .own-title .mobile-menu__cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
    cursor: pointer;
  }
  .own-title .mobile-menu__main {
    padding: 0;
    -webkit-perspective: 2000px;
            perspective: 2000px;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  .own-title .mobile-menu__title {
    list-style: none;
    display: block;
    -webkit-transform: translate3d(0, 0, -1000px);
            transform: translate3d(0, 0, -1000px);
    padding: 0 40px;
    -webkit-transition: opacity 0.2s, -webkit-transform 0.3s;
    transition: opacity 0.2s, -webkit-transform 0.3s;
    transition: transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s, -webkit-transform 0.3s;
    opacity: 0;
  }
  .own-title .mobile-menu__sub {
    display: block;
    margin-top: 30px;
    color: black;
    text-decoration: none;
  }
  .own-title .menu-open #container {
    -webkit-transform: translate(-300px, 60px);
            transform: translate(-300px, 60px);
    -webkit-box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.8);
            box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.8);
  }
  .own-title .menu-open .mobile-menu__cover {
    opacity: 1;
    visibility: visible;
  }
  .own-title .menu-open .mobile-menu__title {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
  .own-title .menu-open .mobile-menu__title:nth-child(1) {
    -webkit-transition-delay: 0.07s;
            transition-delay: 0.07s;
  }
  .own-title .menu-open .mobile-menu__title:nth-child(2) {
    -webkit-transition-delay: 0.14s;
            transition-delay: 0.14s;
  }
  .own-title .menu-open .mobile-menu__title:nth-child(3) {
    -webkit-transition-delay: 0.21s;
            transition-delay: 0.21s;
  }
  .own-title .menu-open .mobile-menu__title:nth-child(4) {
    -webkit-transition-delay: 0.28s;
            transition-delay: 0.28s;
  }
  .own-title .menu-open .mobile-menu__title:nth-child(5) {
    -webkit-transition-delay: 0.35s;
            transition-delay: 0.35s;
  }
  .own-title .menu-open .mobile-menu__btn > span {
    background-color: black;
  }
  .own-title .menu-open .mobile-menu__btn > span:nth-child(1) {
    -webkit-transition-delay: 70ms;
            transition-delay: 70ms;
    -webkit-transform: translateY(11px) rotate(135deg);
            transform: translateY(11px) rotate(135deg);
  }
  .own-title .menu-open .mobile-menu__btn > span:nth-child(2) {
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
    -webkit-transform: translateX(-18px) scaleX(0);
            transform: translateX(-18px) scaleX(0);
  }
  .own-title .menu-open .mobile-menu__btn > span:nth-child(3) {
    -webkit-transition-delay: 140ms;
            transition-delay: 140ms;
    -webkit-transform: translateY(-11px) rotate(-135deg);
            transform: translateY(-11px) rotate(-135deg);
  }
  .own-title .main-title {
    font-size: 25px;
  }
  .own-title .sub-title {
    display: block;
    font-size: 14px;
    color: #535353;
  }
  .own-title .own-pc {
    display: none;
  }
  .own-title .two-pc {
    display: none;
  }
  .own-title .three-pc {
    display: none;
  }
  .own-title .four-pc {
    display: none;
  }
  .own-title .five-pc {
    display: none;
  }
  .own-title .six-pc {
    display: none;
  }
  .own-title .seven-pc {
    display: none;
  }
}

@media (min-width: 500px) {
  .own-title .own-pc {
    display: block;
    position: relative;
    background-image: url("https://images.unsplash.com/photo-1542744095-291d1f67b221?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80");
    background-size: cover;
    height: 460px;
  }
  .own-title .own-pc::before {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: " ";
  }
  .own-title .own-pc .header {
    z-index: 100;
    position: absolute;
    top: 20px;
    right: 50px;
    font-weight: bold;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 500px;
    font-weight: lighter;
  }
  .own-title .own-pc .header a {
    color: rgba(255, 255, 255, 0.95);
    display: none;
  }
  .own-title .own-pc .logo {
    position: absolute;
    top: 155px;
    left: 50%;
    -webkit-transform: translate(-200%, -50%);
            transform: translate(-200%, -50%);
    width: 130px;
    z-index: 2;
  }
  .own-title .own-pc h1 {
    position: absolute;
    top: 290px;
    left: 50%;
    -webkit-transform: translate(-58%, -50%);
            transform: translate(-58%, -50%);
    width: 420px;
    color: white;
    z-index: 2;
  }
  .own-title .two-pc {
    display: block;
    position: relative;
    height: 600px;
  }
  .own-title .two-pc h1 {
    position: absolute;
    top: 80px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: #555555;
    font-size: 30px;
    width: 480px;
  }
  .own-title .two-pc .main-flex {
    position: absolute;
    top: 360px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .own-title .two-pc .main-flex .sub-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 550px;
  }
  .own-title .two-pc .main-flex .sub-flex img {
    width: 100px;
  }
  .own-title .two-pc .main-flex .sub-flex h2 {
    position: relative;
    top: 40px;
    width: 350px;
    font-size: 16px;
    color: #555555;
  }
  .own-title .two-pc .main-flex .sub-flex:nth-child(4) h2 {
    position: relative;
    top: 30px;
  }
  .own-title .three-pc {
    display: block;
    position: relative;
    background-color: #f9f9f9;
    height: 1400px;
  }
  .own-title .three-pc h1 {
    position: absolute;
    top: 70px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: #555555;
    font-size: 30px;
    width: 540px;
  }
  .own-title .three-pc .text {
    position: absolute;
    top: 120px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: #555555;
    font-size: 17px;
    width: 490px;
  }
  .own-title .three-pc .main-flex {
    position: absolute;
    top: 760px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 900px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .own-title .three-pc .main-flex .sub-flex .box1 {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    border: solid 1px #555555;
    width: 370px;
    height: 400px;
    border-radius: 10px;
  }
  .own-title .three-pc .main-flex .sub-flex .box1 img {
    position: relative;
    top: 10px;
    left: 100px;
    width: 150px;
    height: 130px;
  }
  .own-title .three-pc .main-flex .sub-flex .box1 h2 {
    position: relative;
    top: 20px;
    left: 70px;
    font-size: 20px;
  }
  .own-title .three-pc .main-flex .sub-flex .box1 p {
    position: relative;
    top: 30px;
    left: 13px;
    font-size: 14px;
    width: 330px;
    font-weight: lighter;
  }
  .own-title .three-pc .main-flex .sub-flex .box1 .btn-flat-border {
    position: relative;
    top: 25px;
    left: 55px;
    color: black;
    font-size: 18px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .own-title .three-pc .main-flex .sub-flex .box1 .btn-flat-border:hover {
    color: chocolate;
    border: none;
  }
  .own-title .three-pc .main-flex .sub-flex:nth-child(1) .box1 p {
    position: relative;
    top: 50px;
  }
  .own-title .three-pc .main-flex .sub-flex:nth-child(1) .box1 .btn-flat-border {
    position: relative;
    top: 80px;
    text-align: center;
    left: 5px;
    color: black;
    font-size: 18px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 10px;
  }
  .own-title .three-pc .main-flex .sub-flex:nth-child(1) .box1 .btn-flat-border:hover {
    color: chocolate;
    border: none;
  }
  .own-title .three-pc .main-flex .sub-flex:nth-child(2) .box1 h2 {
    position: relative;
    left: 125px;
  }
  .own-title .three-pc .main-flex .sub-flex:nth-child(2) .box1 p {
    position: relative;
    left: 5px;
  }
  .own-title .three-pc .main-flex .sub-flex:nth-child(2) .box1 .btn-flat-border {
    position: relative;
    top: 20px;
    text-align: center;
    left: 3px;
    color: black;
    font-size: 15px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 10px;
  }
  .own-title .three-pc .main-flex .sub-flex:nth-child(2) .box1 .btn-flat-border:hover {
    color: chocolate;
    border: none;
  }
  .own-title .three-pc .main-flex .sub-flex:nth-child(3) .box1 {
    height: 300px;
  }
  .own-title .three-pc .main-flex .sub-flex:nth-child(3) .box1 img {
    position: relative;
    left: 95px;
  }
  .own-title .three-pc .main-flex .sub-flex:nth-child(3) .box1 h2 {
    position: relative;
    left: 90px;
  }
  .own-title .three-pc .main-flex .sub-flex:nth-child(3) .box1 p {
    position: relative;
    top: 33px;
  }
  .own-title .three-pc .main-flex .sub-flex:nth-child(4) .box1 {
    height: 300px;
  }
  .own-title .three-pc .main-flex .sub-flex:nth-child(4) .box1 h2 {
    position: relative;
    left: 80px;
  }
  .own-title .three-pc .main-flex .sub-flex:nth-child(4) .box1 p {
    position: relative;
    top: 33px;
  }
  .own-title .three-pc .main-flex .sub-flex:nth-child(5) .box1 {
    height: 280px;
  }
  .own-title .three-pc .main-flex .sub-flex:nth-child(5) .box1 h2 {
    position: relative;
    top: -2px;
    left: 100px;
  }
  .own-title .three-pc .main-flex .sub-flex:nth-child(5) .box1 p {
    position: relative;
    top: 10px;
    left: -1px;
  }
  .own-title .four-pc {
    display: block;
    position: relative;
    height: 700px;
  }
  .own-title .four-pc h1 {
    position: absolute;
    top: 70px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: #555555;
    font-size: 30px;
  }
  .own-title .four-pc .swiper-pc {
    z-index: 2;
    position: relative;
    top: 350px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    overflow: hidden;
    width: 100%;
    height: 630px;
  }
  .own-title .four-pc .swiper-pc .swiper-slide .main-flex {
    position: absolute;
    top: 360px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 1100px;
  }
  .own-title .four-pc .swiper-pc .swiper-slide .main-flex .sub-flex {
    text-align: center;
  }
  .own-title .four-pc .swiper-pc .swiper-slide .main-flex .sub-flex img {
    width: 330px;
  }
  .own-title .four-pc .swiper-pc .swiper-slide .main-flex .sub-flex p {
    width: 290px;
  }
  .own-title .five-pc {
    display: block;
    position: relative;
    background-color: #f9f9f9;
    height: 1600px;
  }
  .own-title .five-pc h1 {
    position: absolute;
    top: 60px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: #555555;
    font-size: 30px;
  }
  .own-title .five-pc .own {
    position: absolute;
    top: 180px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: #555555;
  }
  .own-title .five-pc .own-tab {
    position: absolute;
    top: 550px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 80%;
    font-size: 15px;
  }
  .own-title .five-pc .own-tab th {
    color: black;
    padding: 8px 15px;
    background: #eeeeee;
    font-weight: bold;
    border: 1px solid silver;
    line-height: 220%;
    text-align: center;
    width: 60px;
  }
  .own-title .five-pc .own-tab td {
    border: 1px solid silver;
    text-align: center;
    width: 80px;
  }
  .own-title .five-pc .two-tab {
    position: absolute;
    top: 1250px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 80%;
    font-size: 15px;
  }
  .own-title .five-pc .two-tab td {
    border: 1px solid silver;
    text-align: center;
    width: 80px;
    height: 50px;
  }
  .own-title .five-pc .two-tab .list {
    background-color: #eeeeee;
    font-weight: bold;
  }
  .own-title .six-pc {
    display: block;
    position: relative;
    height: 560px;
  }
  .own-title .six-pc h1 {
    position: absolute;
    top: 50px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: #555555;
    font-size: 30px;
  }
  .own-title .six-pc .company {
    position: absolute;
    top: 330px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 85%;
    font-size: 15px;
  }
  .own-title .six-pc .company th {
    color: black;
    padding: 8px 15px;
    font-weight: bold;
    border-left: 1px solid silver;
    line-height: 220%;
    text-align: center;
    width: 60px;
  }
  .own-title .six-pc .company td {
    border-left: 1px solid silver;
    text-align: center;
    width: 90px;
  }
  .own-title .six-pc .top {
    font-size: 25px;
    font-weight: bold;
  }
  .own-title .seven-pc {
    display: block;
    position: relative;
    background-color: #f9f9f9;
    height: 910px;
  }
  .own-title .seven-pc h1 {
    position: absolute;
    top: 50px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: #555555;
    font-size: 30px;
  }
  .own-title .seven-pc .main-flex {
    position: absolute;
    top: 500px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .own-title .seven-pc .main-flex .sub-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .own-title .seven-pc .main-flex .sub-flex .left-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px;
  }
  .own-title .seven-pc .main-flex .sub-flex .left-flex img {
    width: 70px;
  }
  .own-title .seven-pc .main-flex .sub-flex .left-flex h2 {
    position: relative;
    top: 10px;
    margin-left: 30px;
    font-size: 20px;
  }
  .own-title .eight-pc {
    position: relative;
    height: 630px;
  }
  .own-title .eight-pc .list {
    position: absolute;
    top: 330px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  #container {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .menu-open {
    display: none;
  }
  .main-title {
    display: none;
  }
  .sub-title {
    display: none;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /******************************************************************

Stylesheet: Retinaディスプレイで適用

******************************************************************/
  /* 

EXAMPLE 
.icon {
	background: url(images/test@2x.png) no-repeat;
	background-size: 24px 24px;
}

*/
}

@media print {
  /******************************************************************

Stylesheet: プリンタのみに適用

******************************************************************/
}
/*# sourceMappingURL=style.css.map */